@charset "UTF-8";

:root {
    --main-color: #104374;
    --ligh-main-color: #266EA5;
    --text-color: #032D58;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var( --text-color );
}

body {
    background-image: url('../assets/imgs/Background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

html {
    font-size: 62.5%;
}

#translator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
}

#translator__title {
    user-select: none;
    margin-bottom: 6rem;
    text-shadow: 0.1rem 0.3rem 1rem 0.1rem rgba(0, 0, 0, 0.253);

    font-size: 6.4rem;
    line-height: 6.4rem;
    color: white;
    font-weight: 700;
}

#translator__container {
    width: auto;
    padding: 3rem;

    background-color: white;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.3rem 2rem 0.1rem rgba(0, 0, 0, 0.253);
}

#translator__selects {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-bottom: 3rem;
    width: 100%;
}

.translator__global {
    position: relative;
    user-select: none;
    width: 100%;
}

.translator__viewer {
    position: relative;
    width: 100%;
    height: 7.8rem;

    background-color: white;
    padding: 0 3rem;
    box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem rgba(0, 0, 0, 0.253);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 1rem;
    cursor: pointer;
    z-index: 10;
}

.translator__viewer:hover {
    background: linear-gradient(to bottom, #185386 , #266EA5);
}

.translator__viewer:hover .translator__language {
    color: white;
}

.translator__viewer:hover .translator__img {
    fill: white;
}

.translator__language {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 3.6rem;

    margin: auto;
    pointer-events: none;
}

.translator__svg {
    pointer-events: none;
}

.translator__menu {
    transition: all 0.4s;
    position: absolute;
    top: 0; right: 0;

    width: 100%;
    opacity: 0;
    max-height: 0;

    border-radius: 1.5rem;
    overflow: hidden;
    cursor: pointer;

}

.animation-arrow  {
    transform: rotateX(-180deg);
}

.translator__menu--appearance {
    opacity: 1;
    margin-top: 10.8rem;
    max-height: 46rem;
}

.translator__options {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: 600;
    
    list-style: none;

    background-color: white;
    width: 100%;
    padding: 2.15rem 0;
}

.translator__options:hover {
    background: linear-gradient(to bottom, #185386 , #266EA5);
    color: #ffffff;
}

#translator__swap {
    width: 4.8rem;
    height: 3.8rem;

    align-self: start;
    margin: 2rem 3rem;
}

.translator__textarea {
    resize: none;
    border: none;
    margin-top: 3rem;

    height: 31.4rem;
    background-color: white;
    width: 100%;

    font-size: 2.4rem;
    line-height: 3.6rem;
    border-radius: 1.5rem;

    padding: 2rem;
    box-shadow: 0.1rem 0.3rem 1rem 0.1rem rgba(0, 0, 0, 0.253);
}

.translator__textarea:focus {
    outline: none;
    border: none;
}

#translator__button {
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: white;

    width: 100%;
    background-image: linear-gradient(to bottom, #185386 , #266EA5);
    padding: 2.1rem 0;
    border-radius: 1rem;

    transition: all .4s;
    user-select: none;
    transition: all .4s;
    box-shadow: 0.1rem 0.3rem 1rem 0.1rem rgba(0, 0, 0, 0.253);
}

#translator__button::after {
    content: 'Translate';
    background-color: var(--main-color);

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    right: 0; top: 0;

    width: 100%;
    height: 100%;
    border-radius: 1rem;

    opacity: 0;
    z-index: -1;
    transition: all .4s;
}

#translator__button:hover::after {
    opacity: 1;
    z-index: 2;
}

.translator__textarea::-webkit-scrollbar {
    width: 1.2rem;
}
  
.translator__textarea::-webkit-scrollbar-thumb {
    background-color: var( --main-color );    
    border-radius: 2rem;       
}

@media (max-width: 1150px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 767px) {
    #translator__selects {
        flex-direction: column;
    }

    #translator__container {
        width: 80%;
    }

    #translator__swap {
        align-self: center;
    }
}